@model List<sdf_asp_net.Models.ChatModel>



<h2>Chat</h2>
<div class="container">

    <input type="text" id="messageGroup" />


    <input type="button" id="btnSendGroup" value="Send to Group" />
    <input type="hidden" id="displayname" />

    
    <ul id="discussion"></ul>
    @foreach (var _model in Model)
    {
        <li>gesendet: @_model.user : @_model.message | @_model.dateStamp </li>
    }

</div>
