@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Manage")">Kontoeinstellungen</a>
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <li class="nav-item">
            @Html.AntiForgeryToken()
            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Register", "Account")">Registrieren</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Login", "Account")">Anmelden</a>
    </li>


}
