@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<p>Das Projekt wurde umgesetzt im Rahmen des Moduls M21.1 Systems Development and Frameworks WiSe2018/19</p>
  
<div class="container">

</div>