@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<p>Das Projekt wurde umgesetzt im Rahmen des Moduls M21.1 Systems Development and Frameworks WiSe2018/19</p>
  
<div class="container">
    <div class="row">
        <div class="col-md-6 img">
            <img src="https://www.picclickimg.com/00/s/MTYwMFgxNDA4/z/q~gAAOSwopRYdUSS/$/Don-Pablo-Fotoleinwand-von-Pablo-Escobar-mit-_1.jpg" alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>Pablo Emilio Escobar Gaviria („El Doctor“, „El Patrón“ oder „Don Pablo“)</h5>
                <small><cite title="Source Title">Medellín<i class="icon-map-marker"></i></cite></small>
            </blockquote>
        </div>
    </div>
</div>